<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rverb.feedback">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="io.rverb.feedback.data.api.SessionService"
            android:exported="false" />
        <service
            android:name="io.rverb.feedback.data.api.EventService"
            android:exported="false" />
        <service
            android:name="io.rverb.feedback.data.api.UserService"
            android:exported="false" />
        <service
            android:name="io.rverb.feedback.data.api.FeedbackService"
            android:exported="false" />
    </application>

</manifest>
